.nomes {
  font-size: 1.6rem;
  padding: 1rem;
}

.nomesConfirmado {
  font-size: 1.6rem;
  padding: 1rem;
  width: 15%;
  margin: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.confirmado {
  padding: 2rem;
  outline: none;
  cursor: pointer;
  color: #000000;
  outline: none;
  border-radius: 2rem;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  margin: 1rem;
}

.containerConfirmado {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
}
